var x = 0;
var y = 0;

x = parseInt(prompt('Введите число X'));

y = Math.pow(x,2)/Math.sin(5*x);

document.writeln('При x = ', x, ' значение функции y = ', y, '<br>');

document.writeln('<br>При x = ', x, ' <br> значение функции y = ', y, '<br>');

document.writeln('<br>При x = ', x, '<br>'+ '<br> значение функции y = ', y);